section.repository-list {

    margin: 40px;

    h1 {
        margin-bottom: 16px;
    }

    ul {
        list-style: none;

    }

    li {

        /*  Toda li que antes dela possui uma li também,
            terá margin-top: 20px. Pegará a partir da segunda li. */
        &+li {
            margin-top: 20px;
        }

        /*
        & - referencia o próprio elemento no SASS
        last-child pegará somente o último elemento
        *Esta é uma forma de retirar o margin-bottom
        do último elemento >>
        
        margin-bottom: 20px;
        &:last-child {      
            margin: 0;
        }
        */

        p {
            font-size: 14px;
            color: #444;
            margin-top: 8px;
        }

        a {
            display: inline-block;
            margin-top: 16px;
            text-decoration: none;
            /*Retirar sublinhado*/
            color: #8257e6;
        }
    }
}